<div class="list-wrapper">
    <div class="todo-list">
        <div *ngFor="let task of tasks; index as i">
            <div class="task-item" *ngIf="!task.completed">
                <input type="checkbox" class="task-status" name="taskStatus" [(ngModel)]="tasks[i].completed">
                <input type="text" class="task-name" [(ngModel)]="tasks[i].taskName">
                <button class="delete-btn" (click)="deleteTask(task.taskId)">Delete</button>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="done-list">
        <div *ngFor="let task of tasks; index as i">
            <div class="task-item" *ngIf="task.completed">
                <input type="checkbox" class="task-status" name="taskStatus" [(ngModel)]="tasks[i].completed">
                <input type="text" class="task-name" [(ngModel)]="tasks[i].taskName">
                <button class="delete-btn" (click)="deleteTask(task.taskId)">Delete</button>
            </div>
        </div>
    </div>

</div>